@{
    ViewBag.Title = "Login";
}

<hgroup>
    <h2>Login</h2>
</hgroup>

<div>
@using (Html.BeginForm())
{
    <p><input type="text" name="name" value="" autofocus="autofocus" required="required" placeholder="プレイヤーの名前やハンドル名など" /></p>
    <p><input type="submit" name="cmd" value="Play" class="btn btn-primary btn-large" /></p>
}
</div>