@model PlayCode2013Quiz.Models.PlayCode2013QuizDB

@section scripts{
    <script type="text/javascript" src="~/Views/Admin/Admin.js"></script>
}

@{
    ViewBag.Title = "Quiz Master Console";

    var context = Model.Contexts.First();
    
    var states = new[] { 
        new SelectListItem{ Value="PleaseWait", Text="please wait."},
        new SelectListItem{ Value="ChooseTheAnswer", Text="choice the answer."},
        new SelectListItem{ Value="Closed", Text="closed."},
        new SelectListItem{ Value="ShowCorrectAnswer", Text="show correct answer."},
    };
    states
        .First(s => s.Value == context.CurrentState.ToString())
        .Selected = true;

    var curQ = Model.Questions.FirstOrDefault(q => q.QuestionId == context.CurrentQuestionID);

    var questions = Model
        .Questions
        .ToArray()
        .Select((q, i) => new SelectListItem
        {
            Value = q.QuestionId.ToString(),
            Text = "Q" + (i + 1).ToString(),
            Selected = curQ != null ? curQ.QuestionId == q.QuestionId : false
        })
        .ToArray();
}


<h2>@ViewBag.Title</h2>

<h3>Current State</h3>

@Html.DropDownList("currentState", states)

<h3>Current Question</h3>

@Html.DropDownList("currentQuestion", questions)


<div class="question-body">
    @Html.Action("QuestionBody")
</div>
