@model QuizWebApp.Models.QuizWebAppDb

@section scripts{
    <script type="text/javascript" src="~/Views/Admin/Admin.js"></script>
}

@{
    ViewBag.Title = "クイズを進行";

    var context = Model.Contexts.First();
    
    var states = new[] { 
        new SelectListItem{ Value="PleaseWait", Text="お待ちください"},
        new SelectListItem{ Value="ChooseTheAnswer", Text="回答を選択してください"},
        new SelectListItem{ Value="Closed", Text="回答を締め切りました"},
        new SelectListItem{ Value="ShowCorrectAnswer", Text="正解はこちら"},
    };
    states
        .First(s => s.Value == context.CurrentState.ToString())
        .Selected = true;

    var curQ = Model.Questions.FirstOrDefault(q => q.QuestionId == context.CurrentQuestionID);

    var questions = Model
        .Questions
        .ToArray()
        .Select((q, i) => new SelectListItem
        {
            Value = q.QuestionId.ToString(),
            Text = "Q" + (i + 1).ToString(),
            Selected = curQ != null ? curQ.QuestionId == q.QuestionId : false
        })
        .ToArray();
}


<h2>@ViewBag.Title</h2>

<h3>現在の状態</h3>

@Html.DropDownList("currentState", states)

<h3>現在選択しているクイズ問題</h3>

@Html.DropDownList("currentQuestion", questions)

<hr />

<div class="question-body">
    @Html.Action("QuestionBody")
</div>
